<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">Gruppen</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Gruppen
            </div>
            <div class="panel panel-body">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                Gruppen hinzufügen
            </div>
            <div class="panel panel-body">
                
            </div>
        </div>
    </div>
</div>